@model AskQuestionViewModel
@{
    ViewBag.Title = "Ask Question";
}
<div id="card" class="card text-center" data-signed="@if (Model.IsSignedIn) { @Html.Raw("1") } else { @Html.Raw("0") }">
    <div class="card-header"></div>
    <div class="card-body">
        <span id="error" style="color: red; white-space: pre-line;"></span>
        <div id="main-slider" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" style="padding:25px">
                <div class="carousel-item">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name Surname</span>
                        </div>
                        <input type="text" class="form-control" name="name-surname" id="name-surname">
                    </div>
                    <button class="btn btn-primary col-sm" id="btn-next" disabled>Next</button>
                </div>
                <div class="carousel-item">
                    <partial name="_Question" model="Model.Questions" />
                    <div style="margin-top:3rem" class="row">
                        <div class="col-sm">
                            <h5 class="card-title">Selected Questions</h5>
                            <p class="card-text" id="selected-questions"></p>
                        </div>
                        <button class="btn btn-primary col-sm" id="btn-ask" disabled>Ask Question</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/assets/css/question.css" />
}
@section Script{
    <script src="~/assets/js/question.js"></script>
    <script src="~/assets/js/ask_question.js"></script>
}